* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
}

body {
  width: 100%;
  height: 100%;

  /* サポートブラウザ対象外だった場合のアラート */
  @supports not (interpolate-size: allow-keywords) {
    &::before {
      display: block;
      padding: 32px;
      content: "interpolate-size: allow-keywords をサポートしているブラウザでご覧ください。";
      inset: 0;
      background-color: black;
      color: white;
      font-size: 2rem;
      text-align: center;
    }
  }
}
